@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        height: auto;
		width: auto;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
	.image-responsive {
		display: block;
		width: 100%;
	}   
	.page__header {
		background-image: url(../images/header-2560w.webp);
		background-size: cover;
		background-position: left top;
	}
	.page__section {
		margin: 1em;
	}
	.page__logo-container {
		text-align: center;
		margin: 0 auto;
	}
	.page__logo {
		display: block;
		padding: 1em;
		height: 2em;
		aspect-ratio: 42 / 24;
		margin: 0 auto;
	}
	.page__intro {
		color: var(--light, white);
		margin-left: 1em;
		margin-bottom: 1em;
	}
	.button {
		display: inline-block;
		background-color: var(--primary, teal);
		color: var(--light, white);
		padding: 0.5em 1em;
		border-radius: 0.5em;
		font-weight: 700;
		text-decoration: none;
		margin-bottom: 1em;
	}
	.button--light {
		background-color: var(--light, white);
		color: var(--black, black);
	}
	.button:hover {
		background-color: var(--black, black);
		color: var(--light, white);
		text-decoration: underline;
		text-decoration-thickness: .5em;
		
	}
	.picture-box {
		margin: 0em;
	}
	.picture-box-caption {
		font-size: .8em;
		color: var(--gray, gray);
		text-align: center;
		margin-top: .75em;
	}
	.text-h3 {
		font-size: 1.125em;
		font-weight: 700;
		margin-bottom: 1em;
	}
	.outline-box {
		border: 3px solid var(--primary, aqua);
		margin: 1em;
		padding-left: 1em;
		padding-right: 1em;
	}
	.coupon-box {
		padding: 1em;
		background-color: var(--gray, gray);
		text-align: center;
		color: var(--light, white);
	}

	.page__footer {
		padding: 2em;
		text-align: center;
		background-color: var(--gray, gray);
	}
	.footer-text {
		text-decoration: none;
		color: var(--light, white);
	}
	.gallery-image {
		margin-top: .5em;
		margin-bottom: .5em;
		display: block;
	}

	@media (min-width: 768px) {
		.gallery-image {
			display: inline-block;
		}
	}
}
